BasedOnStyle: Microsoft
ColumnLimit: 80
IndentWidth: 4
UseTab: ForContinuationAndIndentation
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: true
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Right
AlignConsecutiveMacros: true

